.navigationList {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 26px;
  font-weight: 700;
}

.navigationItem:not(:last-child) {
  display: block;
  margin-right: 24px;
}

.link {
  text-decoration: none;
  color: #fff;
}

.link:hover {
  color: rgb(224, 167, 184);
}

.activeLink {
  color: rgb(224, 167, 184);
}
